nav {
  margin: 0;
  background: white;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  color: blue;
  position: relative;
  z-index: 2;
  background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(221,240,249,1) 100%);
  box-shadow: var(--small-shadow);
}

.logo {
  display: flex;
  align-items: center;
}

.logo h1 {
  font-size: 32px;
  color: var(--primary-color-darker);
  font-weight: 400;
}

.menu-items {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-items li a {
  border-radius: 32px;
  text-decoration: none;
  color: var(--primary-color-darker);
  font-weight: 400;
  font-size: 20px;
  padding: 0.5em 1em;
}

.menu-items li:last-child a {
  background-color: green;
  color:white;
  border-radius: 32px;
  font-weight: 600;
}

.menu-items li a:hover,
.menu-items li a:active {
  background-color: var(--primary-color-darker);
  color:white;
  transition: all 0.3s ease-in-out;
}

.subheading-wrapper {
  margin: 2em 1em;
  display: flex;
  justify-content: center;
}

.subheading {
  font-family: 'Epilogue', sans-serif;
  border-radius: 12px;
  font-size: 20px;
  padding: 0.7em;
  background-color: white;
  text-align: center;
  align-self: center;
  box-shadow: var(--small-shadow);
  line-height: 2em;
  font-weight: 300;
}