nav {
  margin: 0;
  background: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  color: blue;
  height: auto;
  position: relative;
  z-index: 3;
  background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(221,240,249,1) 100%);
  box-shadow: var(--small-shadow);
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.logo h1 {
  font-size: 32px;
  color: var(--primary-color-darker);
  font-weight: 400;
  transition: all 0.2s;
  z-index: 3;
}

.logo h1:hover {
  cursor: pointer;
  color: var(--secondary-color)
}

.menu-items {
  font-family: 'Epilogue', sans-serif;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.menu-items li a {
  margin:5px;
  border-radius: 32px;
  text-decoration: none;
  color: var(--primary-color-darker);
  font-weight: 400;
  font-size: 20px;
  padding: 0.5em;
}


.menu-items li a:hover {
  background-color: var(--primary-color-darker);
  color:white;
  text-decoration: none;
}

.sign-in-nav-button li a {
  background-color: var(--secondary-color);
  color:white;
  border-radius: 32px;
  font-weight: 600;
}

.sign-in-nav-button a:hover {
  background-color: var(--secondary-color-darker);
}

.subheading-wrapper {
  margin: 2em 1em;
  display: flex;
  justify-content: center;
}

.subheading {
  font-family: 'Epilogue', sans-serif;
  border-radius: 12px;
  font-size: 20px;
  padding: 0.7em;
  background-color: white;
  text-align: center;
  align-self: center;
  box-shadow: var(--small-shadow);
  line-height: 2em;
  font-weight: 400;
}

.menu-button {
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
  width: 2em;
  height: 2em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  z-index: 10;
  top: 7px;
}

.menu-button-burger {
  width: 30px;
  height: 5px;
  background-color: var(--primary-color);
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  transform: translateY(6px);
}

.menu-button-burger::before,
.menu-button-burger::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 5px;
  background-color: var(--primary-color);
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

.menu-button-burger::before {
  transform: translateY(-9px);
}

.menu-button-burger::after {
  transform: translateY(9px);
}

.menu-button.open .menu-button-burger {
  background: transparent;
  box-shadow: none;
}

.menu-button.open .menu-button-burger::before {
  transform: rotate(-45deg)
}

.menu-button.open .menu-button-burger::after {
  transform: rotate(45deg)
}

@media screen and (max-width: 1100px) {
  .logo h1 {
    font-size: 28px;
  }
  .menu-button {
    display: block;
  }
  .menu-items {
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: white;
    justify-content: center;
    right: 0;
    transition: all .3s;
  }
  .menu-items li {
    padding-bottom: 1em;
    /* margin-bottom: 30px; */
    font-size: 20px;
    margin-top: 1.5em;
  }

  .menu-items li a {
    font-size: 20px;
  }

  .menu-items.open {
    padding: 0;
    top: 0;
    right: 0;
    margin-top: 0;
  }

  .menu-items.close {
    transform: translate(100%, -100%);
    margin-top: 0;
  }
}

@media screen and (max-width: 600px) {
  .logo h1 {
    font-size: 24px;
  }
}