body {
  font-family: 'Helvetica Neue';
  /* -apple-system, BlinkMacSystemFont, 'Roboto'; */
  /* 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  --primary-color: #115A92;
  --primary-color-darker: #0d446e;
  --secondary-color: #338a59;
  --secondary-color-darker: #215839;
  max-width: 1000px;
  justify-self: center;
  margin: auto;
}

h1 {
  color: var(--primary-color);
  margin-top: 0px;
  margin-bottom: 0px;
}

h2 {
  color: var(--primary-color);
}

h3 {
  color: var(--secondary-color);
}

p {
  color: var(--secondary-color-darker);
  font-size: 20px;
}

button {
  margin: 3px;
  font-size: large;
  overflow: hidden;
  border: none;
  border-radius: 18px;
  border: 1px solid var(--primary-color);
  /* background-color: rgb(255, 255, 255); */
  background-color: white;
  color: white;
  height: 36px;
  min-height: min-content;
  padding-left: 15px;
  padding-right: 15px;
}

.button-in-list {
  border: 1px solid var(--primary-color);
  background-color: white;
  color: var(--primary-color)
}

.button-in-list:hover {
  background-color: var(--primary-color);
  color: white;
}

.primary-button {
  background-color: var(--primary-color);
  color: white;
  height: 32px;
}

.primary-button:hover {
  background: var(--primary-color-darker);

}

button:hover {
  /* background-color: rgb(240, 240, 240); */
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 10px 30px 0 rgba(0,0,0,0.19);
  cursor: pointer;
}

.back-buttons-div {
  display: flex;
}

.small-button {
  /* border: 1px solid green; */
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  font-size: 20px;
  height: min-content;
}

.small-button:hover {
  background-color: var(--secondary-color);
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 0px;
}

.header-button {
  height: min-content;
}

.top-row {
  margin-bottom: 0px;
}

.bottom-row {
  margin-top: -25px
}

.current-selection-div {
  margin-top: -30px;
}

.link {
  color: var(--secondary-color)
}

.link:hover {
  color: var(--secondary-color-darker);
  cursor: pointer;
}

.back {
  margin: 10px
}

.versions {
  display: grid;
  grid-template-columns: repeat(auto, 4);
  column-gap: 15px;
  max-height: 80vh;
  overflow: auto;
}

.version-col1 {
  grid-column-start: 1;
  align-self: center;
  justify-self: center;
}

.version-col2 {
  grid-column-start: 2;
  align-self: center;
  justify-self: center;
}

.version-col3 {
  grid-column-start: 3;
  align-self: center;
  justify-self: center;
}

.version-col4 {
  grid-column-start: 4;
  align-self: center;
  justify-self: center;
}

/* .version-date {
  border-radius: 16px;
  padding-left: 10px;
  padding-right: 10px;

} */

.version-date:hover {
  background: var(--primary-color);
  color: white;
  cursor: pointer;
}

.line {
  height: 1px;
  background-color: rgb(107, 107, 107);
  grid-column: span 4;
  margin-top: 10px;
  margin-bottom: 10px;
}

.no-image {
  background-color: rgb(158, 158, 158);
}

.avatar-upload {
  border: 2px solid var(--secondary-color)
}

.avatar-upload:hover {
  cursor: pointer;
}

.review-container {
  display: grid;
  grid-template-columns: repeat(10px, 2);
  grid-template-rows: repeat(10px, 2);
  justify-content: space-around;
  justify-items: center;
  align-items: center;
  align-content: start;
}

p {
  padding-top: 10px;
  margin: 0;
}

.review-comment {
  max-height: 300px;
  overflow: auto;
}

.review-username {
  grid-column-start: 1;
  grid-row-start: 1;
}

.review-rating {
  grid-column-start: 1;
  grid-row-start: 2;
}

.review-helpful {
  grid-column-start: 2;
  grid-row-start: 1;
}

.review-funny {
  grid-column-start: 2;
  grid-row-start: 2;
}

.emojis {
  font-size: 30px;
}

.filter-chip {
  font-size: 20px;
  height: min-content;
  margin-top: 7px;
}

.empty {
  background: white;
  color: gray;
  border: 1px solid gray;
}

.full {
  background: var(--secondary-color);
}

.tags {
  display: flex;
  flex-wrap: wrap;
}