body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  max-width: 1000px;
  justify-self: center;
  margin: 0 auto
}

button {
  margin-right: 5px;
  margin-top: 5px;
  font-size: large;
  overflow: hidden;
  border: none;
  border-radius: 5px;
  border: 2px solid green;
  background-color: rgb(255, 255, 255);
  height: 35px;
  min-height: min-content;
}

button:hover {
  background-color: rgb(240, 240, 240);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 10px 30px 0 rgba(0,0,0,0.19);
  cursor: pointer;
}


.back-buttons-div {
  display: flex
}

.small-button {
  border: 1px solid green;
  font-size: medium;
  height: min-content;
}

.current-selection-div {

}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
}

.header-button {
  height: min-content;
}

.link {
  text-decoration: underline;
}

.link:hover {
  color:blue;
  cursor: pointer;
}

.back {
  margin: 10px
}

.versions {
  display: grid;
  grid-template-columns: repeat(auto, 5);
  column-gap: 15px;
}

.version-col1 {
  grid-column-start: 1;
  align-self: center;
  justify-self: center;
}

.version-col2 {
  grid-column-start: 2;
  align-self: center;
  justify-self: center;
}

.version-col3 {
  grid-column-start: 3;
  align-self: center;
  justify-self: center;
}

.version-col4 {
  grid-column-start: 4;
  align-self: center;
  justify-self: center;
}

.version-col5 {
  grid-column-start: 5;
  align-self: center;
  justify-self: center;
}

.version-date {
  border: 2px solid white;
  text-decoration: underline;
  height: min-content;
}
.version-date:hover {
  background-color: gainsboro;
  /* color: white; */
  /* box-shadow: 0 9px 12px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); */
  cursor: pointer;
  border: 2px solid green;
  border-radius: 5px;
  background: rgb(194,194,194);
  background: linear-gradient(145deg, rgba(194,194,194,1) 0%, rgba(214,214,214,1) 35%, rgba(255,255,255,1) 100%);
}

.line {
  height: 1px;
  background-color: black;
  grid-column: span 5;
}

.no-image {
  background-color: rgb(158, 158, 158);
}

.avatar-upload {
  border: 2px solid green;
}

.avatar-upload:hover {
  cursor: pointer;
}

.checkboxes-container {
  display: grid;
  width: auto;
  max-width: 400px;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(10, auto);
}

.col1 {
  grid-column-start: 1;
  grid-row-start: auto;
}

.col2 {
  grid-column-start: 2;
  grid-row-start: auto;
}

.row1 {
  grid-row-start: 1;
}

.row2 {
  grid-row-start: 2;
}

.row3 {
  grid-row-start: 3;
}

.row4 {
  grid-row-start: 4;
}

.row5 {
  grid-row-start: 5;
}

.row6 {
  grid-row-start: 6;
}

.row7 {
  grid-row-start: 7;
}

.row8 {
  grid-row-start: 8;
}

.row9 {
  grid-row-start: 9;
}

.row10 {
  grid-row-start: 10;
}
